.product-list {
  float: left;
  width: 80%;
}

.product-list ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.product-list ul li {
  display: inline-block;
  margin-right: 10px;
}

.product-list ul li:last-child {
  margin-right: 0;
}

